[Unit]
Description=X on %I
Wants=graphical.target
Before=graphical.target

[Service]
Type=forking
StopWhenUnneeded=true
ExecStart=/usr/bin/x-daemon -nolisten tcp -noreset %I
