[Unit]
Description=Direct X login for user %I
After=graphical.target systemd-user-sessions.service
Wants=x@vt7.service

[Service]
User=%I
WorkingDirectory=%h
Environment=DISPLAY=:0
TTYPath=/dev/tty7
PAMName=login
ControlGroup=%R/user/%I/shared cpu:/
ControlGroupModify=yes
Type=notify
ExecStart=/usr/lib/systemd/systemd --user

[Install]
WantedBy=graphical.target
