[Unit]
Description=Direct X login for user %i
After=x@vt7.service systemd-user-sessions.service
Wants=x@vt7.service
Conflicts=getty@tty7.service

[Service]
User=%i
TTYPath=/dev/tty7
PAMName=login
Environment=DISPLAY=:0
ExecStart=/usr/bin/bash -l -c "cd; source .xinitrc"

[Install]
WantedBy=graphical.target
